.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: calc(70vh - 60px); /* Ajusta según la altura de tu header/footer */
    
  }
  
  .home-content {
    flex: 1;
    max-width: 50%;
    background-color: rgba(255, 255, 255, 0.834); /* Fondo gris transparente */
    padding: 20px;
    border-radius:10px 0px 0px 10px;
    margin-top: 3%;
  }
  
  .main-heading {
    font-size: 3.5em;
    margin-bottom: 10px;
    font-family: 'Larken', sans-serif;
    text-shadow: 4px 4px 6px 4px rgb(255, 255, 255); 
  }
  
  .sub-heading {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 4px 4px 6px 4px rgb(255, 255, 255); 
 
    
  }

  .button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
  }
  
  .register-button {
    background-color: #8E44AD; /* Morado */
    color: white; /* Letras blancas */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #6C3483; /* Morado más claro */
  }
  
  .image-container {
    flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin-top: 3%;
  }
  
  .home-image {
   
    max-width: 100%;
    height: auto;
    border-radius: 0px 10px 10px 0px;

  }
  