.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    border-top: 50 px;
    min-height: calc(100vh - 150px); /* Ajusta para dejar espacio al footer */
    padding-bottom: 80px; /* Espacio inferior para el footer */    
    padding-top: 30px; /* Espacio inferior para el footer */   
    background-color: rgba(255, 255, 255, 0.834); /* Fondo gris transparente */
}

.image {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px; /* Ejemplo: limita la altura de la imagen */
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    text-align: center;
    max-width: 80%;
}
