.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* Ancho del contenedor al 50% del ancho del viewport */
    margin: auto; /* Centra el contenedor horizontalmente */
    min-height: calc(100vh - 70px); /* Calcula la altura mínima del contenedor para ocupar toda la altura menos 70px (para el footer) */
    padding-bottom: 30px; /* Espacio inferior adicional */
    padding-top: 30px; /* Espacio superior */
    background-color: rgba(255, 255, 255, 0.834); /* Fondo gris transparente */
    position: relative; /* Asegura que el contenedor se coloque correctamente en relación con otros elementos */
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }


.image {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px; /* Ejemplo: limita la altura de la imagen */
    
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.text {
    font-family: 'Larken', sans-serif; 
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    text-align: center;
    max-width: 80%;
    max-height: fit-content;
}
