.container {
    display: flex;
    justify-content: center;
    height: calc(70vh - 60px); /* Ajusta según la altura de tu header/footer */
    font-family: 'Larken', sans-serif;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    
    
  }
  
  form {
    font-family: 'Larken', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.834);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
  }
  
  :placeholder-shown {
    font-size: 1.2em;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
  }
  
  
  

  
  